.section{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
  background-size: cover;
  background-repeat: no-repeat;
}
.content{
  padding-left: 7%;
  padding-right:7%;
  padding-top:1%;
  font-size: 13pt;
}
.container-left{
  background-color: white;
  padding-top:2%;
}
.container-right{
  background-color: #bebebe;
  background-color: #e5e5e5;
  padding-top:3.7%;
}
.title{
  font-size: 17pt;
  font-weight: bold;
  color:black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-box
{
  background-color: #e8e8e8;
  color: black;
  height:260px;
  width: 100%;
  margin:0px auto;
  text-align: center;
  border:5px solid #eeeeee;
  border-radius: 5px;
}

.form-row{
  margin-bottom:15px;
}
.fa{
  padding-top:15px;
}

.div-send-msg
{
  text-align: center;
  padding: 25px;
}
.btn-custom{
  background-color: #e5e5e5;
  color:black;
  border-radius:10px;
  border:none;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12pt;
}
.btn-custom-active{
  background-color: #99ba56;
  color:#212121;
  border-radius:10px;
  border:none;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12pt;
}

.drop{
  padding:25px;
}
.error-message-div{
  color:#99ba56;
  font-size:12pt;
  font-weight: bold;
}
a {
  color:#4f85b8 !important;
}


//* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
}

/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {

}
