<section class="section">
  <div>
    <div class="title">
      <p>CONT<span class="bold1">A</span>CT</p>
    </div>
    <div class="content">
      <div class="support d-none d-lg-block">
      </div>
      <div class="row contact-box-main">
        <div class="col-lg-4 contact-box-div">
          <div class="contact-box">
            <p class="fa fa-map-marker"></p>
            <p>Address</p>
            <p>
              94D Kompally
              Secunderabad 500 100,
              Telangana, India.
            </p>
          </div>
        </div>
        <div class="col-lg-4 contact-box-div">
          <div class="contact-box">
            <p class="fa fa-phone"></p>
            <p>Phone</p>
            <p>
              +91-00000-12345
            </p>
          </div>
        </div>
        <div class="col-lg-4 contact-box-div">
          <div class="contact-box">
            <p class="fa fa-envelope-o"></p>
            <p>Email</p>
            <p>
              admin@prataphealthfoods.com
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 offset-lg-2 form text-center">
        <h2 class="drop"> Drop us a line</h2>
        <form>
          <div class="row">
            <div class="col-lg-6">
              <label for="contactName">Name*</label>
              <input type="text" id="contactName" class="form-control">
              <br>
            </div>
            <div class="col-lg-6">
              <label for="contactEmail">E-mail address*</label>
              <input type="email" id="contactEmail" class="form-control">
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="company">Company*</label>
              <input type="text" id="company" class="form-control">
              <br>
            </div>
            <div class="col-lg-6">
              <label for="phone">Phone*</label>
              <input type="text" id="phone" class="form-control">
              <br>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="state">State*</label>
              <input type="text" id="state" class="form-control">
              <br>
            </div>
            <div class="col-lg-6">
              <label for="country">Country*</label>
              <input type="text" id="country" class="form-control">
              <br>
            </div>
          </div>
          <label for="contactSubject">Subject*</label>
          <input type="text" id="contactSubject" class="form-control">
          <br>
          <label for="contactMessage">Message*</label>
          <textarea type="text" id="contactMessage" class="form-control" rows="10"></textarea>
          <div class="div-send-msg">
            <button type="button" class="btn-custom col-6">Send message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
