<section class="section">
  <div class="title text-center">
    <p>CONNECT</p>
  </div>
  <div class="content row">
<div class="col-md-6 col-xs-12 form text-center container-left">
  <p> DROP US A LINE</p>
  <form>
    <div class="row form-row">
      <div class="col-md-6">
        <label for="contactName">Name*</label>
        <input type="text" id="contactName" class="form-control form-control-sm">
      </div>
      <div class="col-md-6">
        <label for="contactEmail">E-mail address*</label>
        <input type="email" id="contactEmail" class="form-control form-control-sm">
      </div>
    </div>
    <div class="row form-row">
      <div class="col-md-6">
        <label for="company">Company*</label>
        <input type="text" id="company" class="form-control form-control-sm">
      </div>
      <div class="col-md-6">
        <label for="phone">Phone*</label>
        <input type="text" id="phone" class="form-control form-control-sm">
      </div>
    </div>
    <div class="row form-row">
      <div class="col-md-6">
        <label for="state">State*</label>
        <input type="text" id="state" class="form-control form-control-sm">
      </div>
      <div class="col-md-6">
        <label for="country">Country*</label>
        <input type="text" id="country" class="form-control form-control-sm">
      </div>
    </div>
    <div class="row form-row">
      <div class="col-md-12">
        <label for="contactSubject">Subject*</label>
        <input type="text" id="contactSubject" class="form-control form-control-sm">

      </div>
    </div>
    <div class="row form-row">
      <div class="col-md-12">
        <label for="contactMessage">Message*</label>
        <textarea type="text" id="contactMessage" class="form-control form-control-sm" rows="5"></textarea>
      </div>
    </div>
    <div class="div-send-msg">
      <button type="button" class="btn-custom col-6">Send message</button>
    </div>
  </form>
</div>
<div class="col-md-6 col-xs-12 form text-center container-right">
  <div class="col-md-12">
    <p class="fa fa-map-marker"></p>
    <p>
      94D Kompally,
      Secunderabad 500100,<br>
      Telangana State, India.
    </p>
    <p class="fa fa-envelope-o"></p>
    <p>mail@prataphealthfoods.com</p>

  </div>
  <div class="col-md-12">
    <div class="row map">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="100%" height="450px" id="gmap_canvas"
          src="https://maps.google.com/maps?q=pratap%20health%20foods&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <style>.mapouter{text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style>
      </div>
    </div>
  </div>
</div>

</div>
</section>
