.section{
  padding:50px;
}
.content{
  padding-top:1%;
}
.title{
  font-size: 17pt;
  font-weight: bold;
  color:#eca60f;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.a_founder .name{
  font-family: 'Allura',cursive;
  font-size: 25pt;
}
.a_segment{
  margin-top:35px;
}
