// @import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
.section{
  padding:25px;
}
.content{
  padding-left: 7%;
  padding-right:7%;
  padding-top:1%;
}

.title{
  font-size: 16pt;
  font-weight: bold;
  color:#eca60f;
  font-family: 'Didact Gothic',sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.a_founder{
}
.a_founder .name{
  font-family: 'Freestyle Script',sans-serif;
  font-size: 24pt;
}
.a_founder .year{
}
.a_segment{
  margin-top:35px;
}
