<section class="section">
  <div>
    <div class="title">
      <p><span class="bold1">A</span>BOUT</p>
    </div>
    <div class="content">
      <p>
        Pratap Health and Foods (India) private limited, an ISO 22000:2005 incepted/commenced operations in the year 1979. A pioneer in operations of packaging and food safety management for reputed MNC’s vis a vis (in regard to brands) popular brands. The company was founded by Mr. D. Pratap Chander Reddy, a man who believed in <span class="bold">trust</span> as a foundation and in <span class="bold">camaraderie</span> as building blocks with a vision, “To be a reliable and efficient provider of quality deliverables while ensuring a balance between business-sense and people-priorities.”
      </p>
      <p>
        Pratap Health and Foods (India) private limited has been packaging for GlaxoSmithKline consumer health care/ (Nutrition) limited exclusively since inception.
      </p>
      <p>
        Other verticals of the group: Real Estate, Hospitality, Development, Financing, Equestrian Breeding, Racing, Pratap Enterprises and Agriculture.
      </p>
    </div>
  </div>
</section>
