<section class="section">
  <div class="title text-center">
    <p>Founder</p>
  </div>
  <div class="content text-center">

    <div class="a_founder">
      <p>
      <span class="name">
        D. Pratap Chander Reddy
      </span><br>
      <span class="year col-12">
        1952 – 2012
      </span>
      </p>
    </div>
    <div class="a_segment">
      <p>
        BUSINESSES ACROSS MULTIPLE OTHER INDUSTRY SEGMENTS<br>
      </p>
      <p style="font-size:14pt;">
        Real-Estate&nbsp;•&nbsp;Hospitality &nbsp;•&nbsp; Agriculture&nbsp; •&nbsp; Equine-Sport&nbsp; •&nbsp; Technology
        </p>
    </div>
    <div class="a_footer">
      <p>
        <span class="bold text-gray">PHF RESTRICTED Use ONLY.</span>
        NOT to be copied or distributed in whole or in part, in digital or physical form, within or outside of PHF. Hardcopies if any, must be shred before disposal.
      </p>
    </div>
  </div>
</section>
