.footer {
    background: white;
    padding:20px 0px 20px 0px;
  }
  .copyright {
    font-size: 12px;
}

.m-b-0 {
    margin-bottom: 0 !important;
}
.footer-text{
  color: gray;
}

//* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {

}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
