.footer {
    background: #fbfbfb;
    padding: 40px 0;
  }
  .copyright {
    font-size: 12px;
}

.font-inc {
    font-family: "Inconsolata", sans-serif;
    font-family: Verdana;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.m-b-0 {
    margin-bottom: 0 !important;
}
.footer-text{
  color: #eca60f;
}
