<section class="row navbar-light">
  <mdb-navbar SideClass="navbar fixed-top navbar-custom navbar-expand-lg scrolling-navbar ie-nav row" [containerInside]="false">
    <logo>
      <img class="logo" alt="logo" src="./assets/images/logo_phf.png" height="50px;">
    </logo>
    <links class="links">
      <ul class="navbar-nav mr-auto auto">
      </ul>
      <ul class="navbar-nav navbar-flex-icons">
        <li id="liAbout" class="nav-item waves-light" mdbRippleRadius [ngClass]="activeMenu == 'about' ? 'blue1-text' : 'blue2-text'" routerLink="/home"
        (click)="scroll(about,'about')" >
        <a class="nav-link">HOME<span class="sr-only"></span></a>
      </li>
      <li id="liManagement" class="nav-item waves-light" mdbRippleRadius [ngClass]="activeMenu == 'management' ? 'blue1-text' : 'blue2-text'" routerLink="/management"
      (click)="scroll(management,'management')">
      <a class="nav-link">MANAGEMENT</a>
    </li>
    <li id="liContact" class="nav-item waves-light" mdbRippleRadius [ngClass]="activeMenu == 'contact' ? 'blue1-text' : 'blue2-text'" routerLink="/contact"
    (click)="scroll(contact,'contact')">
    <a class="nav-link">CONTACT</a>
  </li>
</ul>
</links>
</mdb-navbar>
</section>

<div class="text-center">
  <div #about id="about" class="sectionDiv" [appTrackScroll]="'about'">
    <app-home></app-home>
    <app-vision></app-vision>
    <app-about></app-about>
  </div>
  <div #management id="management" class="sectionDiv" [appTrackScroll]="'management'">
    <app-management></app-management>
    <app-features></app-features>
  </div>
  <div #contact id="contact" class="sectionDiv" [appTrackScroll]="'contact'">
    <app-contact></app-contact>
  </div>
</div>
