

.navbar-nav li.green-text a {
  color: #99ba56 !important;
  // background-color: #FFFFFF !important;
}
.logo{
   padding-left:75px;
}
.links{
  padding-right:75px;
}
li a{
  font-size: 12px;
  letter-spacing: 3px;
}

.bar{
  height: 3200px;
}

.box{
  border: solid 2px blue;
}
