<section class="section">
  <div class="row" style='margin-left:0px; margin-right:0px'>
    <div class="col-lg-8 container-left">
      <div class="h_name">
        <h1 class="h1-responsive">Pratap Health & Foods (India) Private Limited</h1>
        <h2 class="h2-responsive">ISO 22000:2018</h2>
      </div>
      <div class="h_logo">
        <img src="./assets/images/logo_phf.png" alt="logo" style="height:150px;"/>
      </div>
      <div class="container">
        <div class="row justify-content-md-center" style='margin-left:0px; margin-right:0px'>
          <div class="col-md-auto">
            <img class="img d-none d-lg-block" [appLazyLoad] src='./assets/images/40.png' alt="First slide">
          </div>
          <h1 class="col-md-auto h1-responsive-accent">
            Packaging exclusively since 1979
          </h1>
        </div>
      </div>
      <div class="h_capacity">
        <div class="view w-100">
        </div>
        <p>
          CAPACITY<br>
          ~40 KT
        </p>
        <span class="separator">------------------------------------</span>
        <p>CONTAINER PORTFOLIO<br>
          Jars, Gusseted Pouches, Sachets & Sack Bags</p>
          <span  class="separator">------------------------------------</span>
          <p>MARKETS<br> Domestic and Export</p>
        </div>
      </div>
      <div class="col-lg-4 container-right">
        <img  class="img-car w-100 d-none d-lg-block" src="./assets/images/slide222.jpg" alt="slide2">
      </div>
    </div>
  </section>
