.section{
  padding-top:75px;
}

.separator{
  color:#ccc;
}

.img{
  width: auto;
  margin-top:-15px;
}
.h1-responsive{
  font-family: "Didact Gothic",sans-serif;
  font-weight: bold;
  font-size: 23pt;
}
.h1-responsive-accent{
  font-family: 'Allura', cursive;
  font-size: 25pt;
  background-color: #f2f2f2;
  margin-top: 14px;
  margin-left: -26px;
  height: 55px;
  padding: 8px;
}

.h2-responsive{
  // font-family: 'Didact Gothic',sans-serif;
  font-size: 19pt;
}

.h_name{
  padding:0.5rem;
  margin:1.5rem;
}
.h_logo{
  margin:2.5rem;
}

.accent-img{
  padding:0px;
}
.h_capacity{
  margin-left:0px;
  margin-right:0px;
  // font-family: 'Didact Gothic',sans-serif;
  font-size:13pt;
}
.container-left{
  color:black;
  padding:0px;
}
.container-right{
  padding:0px;
}
p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .h1-responsive-accent{
    margin-left: 0px;
    height:auto;
  }

  .accent-img{
    margin-right:0px;
  }
}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  .h1-responsive-accent{
    margin-left: 0px;
    height:auto;
  }
}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {

}
