<section class="section">
  <div class="h_name">
    <h1 class="h1-responsive">Pratap Health & Foods (India) Private Limited</h1>
    <h2 class="h2-responsive">ISO 22000:2005</h2>
  </div>
  <div class="h_logo">
    <img src="./assets/images/logo_phf.jpg" alt="logo" style="height:150px;"/>
  </div>
  <div class="h_accent col-lg-10 offset-lg-1 col-xs-12">
    <div class="row">
    <div class="col-lg-2 col-xs-12 text-center accent-img" >
      <img class="img w-100" [appLazyLoad] src='./assets/images/40.png' alt="First slide">
    </div>
    <div class="col-lg-10 col-xs-12 text-center accent-text">
      <h1 class="h1-responsive-accent">
        Packaging exclusively for GlaxoSmithKline (Nutrition) since 1979
      </h1>
    </div>
    </div>
  </div>
  <div class="h_capacity">
    <p>
      CAPACITY<br>
      ~40 KT
    </p>
    <span class="separator">------------------------------------</span>

    <p>CONTAINER PORTFOLIO<br>
      Jars, Gusseted Pouches, Sachets & Sack Bags</p>
      <span  class="separator">------------------------------------</span>
      <p>MARKETS<br> Domestic and Export</p>
    </div>
  </section>
