@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
.section{
   padding:75px 25px 25px 25px;
}

.separator{
  color:#ccc;
}

.img{
  width: auto;
  height:100px;
  margin-top:-15px;
}
.h1-responsive{
  font-family: 'Didact Gothic',sans-serif;
  font-weight: bold;
  font-size: 22pt;
}
.h1-responsive-accent{
  font-family: 'Freestyle Script',sans-serif;
  font-size:24pt;
  background-color: #f2f2f2;
  margin-top: 15px;
  margin-left: -23px;
    height:41px;
}

.h2-responsive{
  font-family: 'Didact Gothic',sans-serif;
  font-size: 18pt;
}

.h_name{
  padding:0.5rem;
  margin:1.5rem;
}
.h_logo{
  // padding:0.5rem;
  // margin:1.5rem;
}

.accent-img{
  padding:0px;
}
.h_capacity{
  // padding:0.5rem;
  // margin:1.5rem;
  margin-left:0px;
  margin-right:0px;
  font-family: 'Didact Gothic',sans-serif;
  font-size:12pt;

//   background-image: url("../../../../src/assets/images/slide3.jpg");
// background-size: cover;
// background-repeat: no-repeat;
// height:500px;
}

/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .h1-responsive-accent{
    margin-left: 0px;
    height:110px;
  }

  .accent-img{
    margin-right:0px;
  }
}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  // .img{
  // height:auto;
  // width: 125px !important;
  // }
  .h1-responsive-accent{
    margin-left: 0px;
    height:40px;
  }
}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {
  // .img{
  // height:auto;
  // width: 125px !important;
  // }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {
  // .img{
  // height:auto;
  // width: 150px !important;
  // }

}
