.section{
  padding:50px 25px 25px 25px;
  background-color: white;
}
.content{
  padding-left: 7%;
  padding-right:7%;
  padding-top:2%;
}
.title{
    font-size: 14pt;
    font-weight: bold;
    color:#99ba56;
    color:#eca60f;
    font-family: 'Didact Gothic',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

//* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {


}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {

}
