.section{
  padding:0px;
  background-color: white;
  height:750px;
  overflow-y: hidden;
}
.x{
  background-image: url("../../../../src/assets/images/slide11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  filter: alpha(opacity=50);
  height:800px;
  position: relative;

}
.separator{
  color:gray;
}
.y{
  background-image: url("../../../../src/assets/images/slide11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.content{
  padding-top:2%;
  font-size:13pt;
}
.title{
  font-size: 17pt;
  font-weight: bold;
  color:black;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top:1%;
}
p{
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

//* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {


}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {

}
