<section class="section">
  <div>
    <div class="title">
      <p>FEA<span class="bold1">T</span>URES</p>
    </div>

    <div class="content">
      <div class="row">
        <div class="col-12 text-center">
          <img class="img-responsive" src="./assets/images/culture2.png"/>
        </div>
      </div>
      <div class="row outer-circle-main">
        <div class="col-lg-4">
          <div class="outer-circle">
            <span class="fa fa-lightbulb-o"></span><br>
            <p class="strength-info">  Key management personnel between 20-40 years’ experience</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="outer-circle">
            <span class="fa fa-certificate"></span><br>
            <p class="strength-info">Strong technical team</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="outer-circle">
            <span class="fa fa-star"></span><br>
            <p class="strength-info">Diversified staff skill set</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="outer-circle">
            <span class="fa fa-cogs"></span><br>
            <p class="strength-info">Highly efficient operations</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="outer-circle">
            <span class="fa fa-dot-circle-o"></span><br>
            <p class="strength-info">Internal quality circle</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="outer-circle">
            <span class="fa fa-bolt"></span><br>
            <p class="strength-info">Leadership in process innovation</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="outer-circle">
            <span class="fa fa-wrench"></span><br>
            <p class="strength-info">Lean operations</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="outer-circle">
            <span class="fa fa-group"></span><br>
            <p class="strength-info">Empowering teams</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="outer-circle">
            <span class="fa fa-plane"></span><br>
            <p class="strength-info">Export to 14 countries including Middle East, Sri Lanka, Bangladesh, Pakistan, Nepal, Myanmar, Mauritius & Kenya</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
