.section{
  padding:0px;
  background-color: white;
 height:750px;
 overflow-y: hidden;
}
.x{
  // height:auto;
    background-image: url("../../../../src/assets/images/slide11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
 filter: alpha(opacity=50);
 height:800px;
 position: relative;
  // height:auto;
  // background-attachment: fixed;

}
.y{
  // height:auto;
    background-image: url("../../../../src/assets/images/slide11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  // height:auto;
  // background-attachment: fixed;

}
.content{
  padding-left: 7%;
  padding-right:7%;
  padding-top:1%;
}
.title{
    font-size: 16pt;
    font-weight: bold;
    color:black;
    font-family: 'Didact Gothic',sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

//* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {


}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {

}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {

}
