<section>
<div _ngcontent-c4="" class="row">
  <!-- <div _ngcontent-c4="" class="col-lg-4 container-left">
    <img _ngcontent-c4="" class="img-car w-100 d-none d-lg-block" src="./assets/images/slide3.jpg">
  </div> -->
  <div _ngcontent-c4="" class="col-lg-12 container-right">

    <div _ngcontent-c4="" class="content">
        <div class="h_capacity">
          <div class="view w-100">
         <!-- <appLazyLoad data-src="https://s3.amazonaws.com/gear2gear/bg3.jpeg" /> -->
         <!-- <img class="d-block w-100" [appLazyLoad] src='./src/assets/images/slide3.jpg' alt="First slide">
         <div class="mask rgba-black-light waves-light" mdbWavesEffect></div> -->
       </div>
       <!-- <div class="carousel-caption text-center">
         <h1 class="h1-responsive text-white animated fadeInDown">WE BUY-SELL-SWAP USED CARS AND PREMIUM BICYCLES</h1>
       </div> -->
           <p>
             CAPACITY<br>
             ~40 KT
           </p>
           <span class="separator">------------------------------------</span>

           <p>CONTAINER PORTFOLIO<br>
             Jars, Gusseted Pouches, Sachets & Sack Bags</p>
             <span  class="separator">------------------------------------</span>
             <p>MARKETS<br> Domestic and Export</p>
           </div>
      </div>
    </div>

  </div>
</section>
