<section>
  <div _ngcontent-c4="" class="row">
    <div _ngcontent-c4="" class="col-lg-12 container-right">
      <div _ngcontent-c4="" class="content">
        <div class="h_capacity">
          <div class="view w-100">
          </div>
          <p>
            CAPACITY<br>
            ~40 KT
          </p>
          <span class="separator">------------------------------------</span>
          <p>CONTAINER PORTFOLIO<br>
            Jars, Gusseted Pouches, Sachets & Sack Bags</p>
            <span  class="separator">------------------------------------</span>
            <p>MARKETS<br> Domestic and Export</p>
          </div>
        </div>
      </div>
    </div>
</section>
