<section xclass="section">
  <div _ngcontent-c4="" class="row">
    <div _ngcontent-c4="" class="col-lg-8 container-left">
      <div _ngcontent-c4="" class="title text-center">
        <p>MISSION</p>
      </div>
      <div _ngcontent-c4="" class="content">
        <p _ngcontent-c4="" class="tag"> "To be a reliable and efficient provider of quality deliverables while ensuring a balance between
          <span _ngcontent-c4="" class="bold">business-sense</span> and
          <span _ngcontent-c4="" class="bold">people-priorities</span>."
        </p>
      </div>
    </div>
    <div _ngcontent-c4="" class="col-lg-4 container-right">
      <img _ngcontent-c4="" class="img-car w-100 d-none d-lg-block" src="./assets/images/slide2.jpg">
    </div>
  </div>
</section>
