// @import url('https://fonts.googleapis.com/css?family=Freestyle+Script');
.section{
  padding:50px 25px 50px 25px;
  background-color: gray;
}
.content{
  padding-left: 2%;
  padding-right:2%;
  padding-top:1%;

}

.separator{
  color:#ccc;
}
.title{
  font-size: 17pt;
  font-weight: bold;
  color:white;
  // font-family: 'Didact Gothic',sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.card-div-light{
  margin: 0px auto;
  background-color: #eeeeee;
  border-right:2px solid white;
  border-left:2px solid white;
  padding:0px;
  text-align: center;
}
.card-div-dark{
  margin: 0px auto;
  background-color: #BEBEBe;
  padding:0px;
  text-align: center;
}
.card1{
  height:550px;
  text-align: center;
  overflow: hidden;

  .header{
    padding: 25px;
    border-bottom:1px solid white;
  }
  .card-content{
    padding-top: 25px;
    font-size:13pt;
  }

  .name{
    font-family: 'Allura',cursive;
    font-size: 25pt;
  }
  .designation{
    font-size: 11pt;
    text-transform: uppercase;
    font-weight: bold;
  }

  .expertise-header{
    margin-top:25px;
  }
}




//* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {

  .card-div-light, .card-div-dark{
    border:5px solid white;
    margin-bottom: 25px;
  }

}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  .card-div-light, .card-div-dark{
    border:5px solid white;
    margin-bottom: 25px;
  }
}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
