<section class="section">
  <div>
    <div class="title">
      <p><span class="bold1">M</span>ANAGEMENT</p>
    </div>
    <div class="content">
      <div class="row pb-3">
        <div class="col-lg-4 col-sm-8 col-md-8 card-div">
          <div class="col-xs-12 card1">
            <div class="header">
              <p>
                <span class="name">T. Suri Babu</span><br>
                <span class="designation">Executive Vice President</span>
              </p>
            </div>
            <div id="content1" class="card-content">
              <div class="col-12 pb-3">
                <p class="education">Bachelors in Commerce, with PHF since its inception in 1979.</p>
                <p class="expertise">Expertise: In the fields of operations, quality, strategy, finance, law, taxation, human resources, etc.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-8 col-md-8 card-div">
          <div class="col-xs-12 card1" >
            <div class="header">
              <p>
                <span class="name">D. Divya Reddy</span><br>
                <span class="designation">CEO</span>
              </p>
            </div>
            <div class="card-content">
              <div class="col-12 pb-3">
                <p class="education">Bachelors: St. Francis, BCom Honours, Finance</p>
                <p class="education">MBA: Case Western, eBusiness & Management of Information Systems</p>
                <p class="expertise">Expertise: Business Management (Strategy / Process), People Management, Information Management.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-8 col-md-8 card-div">
          <div class="col-xs-12 card1">
            <div class="header">
              <p>
                <span class="name">M. R K Reddy</span><br>
                <span class="designation">Director</span>
              </p>
            </div>
            <div class="card-content">
              <div class="col-12 pb-3">
                <p class="education">Bachelors: Mechanical Engineering, CBIT</p>
                <p class="education">Masters: USC, LA. Engineering Management</p>
                <p class="expertise">Expertise: Project & Process management, vendor management, construction management, financial analysis, Business Strategy,Operations, etc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<!-- <section class="section">
<div>
<div class="title">
<p>MANAGEMENT</p>
</div>
<div class="row features-small card2">
<div class="col-lg-4 header">
<p>
<span class="name">T. Suri Babu</span><br>
<span class="designation">Executive Vice President</span>
</p>
</div>
<div id="content1" class="col-lg-8 card-content">
<div class="col-12 pb-3">
<p class="education">Bachelors in Commerce, with PHF since its inception in 1979.</p>
<p class="expertise">Expertise: In the fields of operations, quality, strategy, finance, law, taxation, human resources, etc.</p>
</div>
</div>
</div>
<div class="row features-small card2">
<div class="col-lg-4 header">
<p>
<span class="name">D. Divya Reddy</span><br>
<span class="designation">CEO</span>
</p>
</div>
<div class="col-lg-8 card-content">
<div class="col-12 pb-3">
<p class="education">Bachelors: St. Francis, BCom Honours, Finance</p>
<p class="education">MBA: Case Western, eBusiness & Management of Information Systems</p>
<p class="expertise">Expertise: Business Management (Strategy/ Process), People Management, Information Management.</p>
</div>
</div>
</div>
<div class="row features-small card2">
<div class="col-lg-4 header">
<p>
<span class="name">M. R K Reddy</span><br>
<span class="designation">Director</span>
</p>
</div>
<div class="col-lg-8 card-content">
<div class="col-12 pb-3">
<p class="education">Bachelors: Mechanical Engineering, CBIT</p>
<p class="education">Masters: USC, LA. Engineering Management</p>
<p class="expertise">Project & Process management, vendor management, construction management, financial analysis, Business Strategy,Operations, etc.</p>
</div>
</div>
</div>
</div>
</section> -->
