// @import url('https://fonts.googleapis.com/css?family=Freestyle+Script');
.section{
  padding:60px 25px 25px 25px;
  background-color: gray;
}
.content{
  padding-left: 7%;
  padding-right:7%;
  padding-top:1%;
}
.title{
  font-size: 16pt;
  font-weight: bold;
  color:black;
  font-family: 'Didact Gothic',sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.card-div-light{
  margin: 0px auto;
  background-color: #eeeeee;
  border-right:2px solid white;
  border-left:2px solid white;
  padding:0px;
  text-align: center;
}
.card-div-dark{
  margin: 0px auto;
  background-color: #BEBEBe;
  padding:0px;
  text-align: center;
}
.card1{
  height:550px;
  text-align: center;
  overflow: hidden;

  .header{
    padding: 25px;
    border-bottom:1px solid white;
  }
  .card-content{
    // min-height:275px;
    // font: 400 15px/1.8 "Open Sans", Verdana, sans-serif;
    // color: #666;
    -webkit-font-smoothing: antialiased;
    padding-top: 25px;
  }

  .name{
    font-family: 'Freestyle Script',sans-serif;
    font-size: 24pt;
  }
  .designation{
    font-size: 12pt;
    text-transform: uppercase;
  }
}
.card2{
  margin-top:20px;
  text-align: center;
  // border: 1px solid #edf3e1;
  min-height:200px;

  .header{
    background-color: #f5f9ef;
    // color: #666;
    padding: 25px;
    line-height: 2.5em;
    border-right: 1px solid #edf3e1;
  }
  .card-content{
    font: 400 15px/1.8 "Open Sans", Verdana, sans-serif;
    // color: #666;
    -webkit-font-smoothing: antialiased;
    padding-top: 25px;
  }

  .name{
    font-size: 18px;
    font-weight:bolder;
  }

  .designation{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;


  }
  .education{
    padding-left:25px;
    padding-right:25px;
  }
  .expertise{
    padding-left:25px;
    padding-right:25px;
  }
}
//* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {

  .card-div-light, .card-div-dark{
    border:5px solid white;
    margin-bottom: 25px;
  }

}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  .card-div-light, .card-div-dark{
    border:5px solid white;
    margin-bottom: 25px;
  }
}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
