<section class="section">
  <div class="title">
    <p>EXECUTIVE MANAGEMENT</p>
  </div>
  <div class="content text-center">
    <div class="row">
      <div class="col-lg-4 col-sm-8 col-md-8 card-div-light">
        <div class="col-xs-12 card1" >
          <div class="header">
            <p>
              <span class="name">Divya Reddy</span><br>
              <span class="designation">CEO | MANAGING DIRECTOR</span>
            </p>
          </div>
          <div class="card-content">
            <div class="col-12">
              <p class="education">18+ years of experience
                in various capacities, including 10+ years with MNCs</p>
                <p class="education">Currently managing businesses across multiple industry segments</p>
                <p class="expertise">EXPERTISE <br> Business Mgt (strategy/process) <br> People Mgt <br> Information Mgt</p>
                <p class="expertise">Bachelors of Commerce (Finance Major) <br>
                  St Francis College, Hyderabad</p>
                  <p class="expertise">MBA
                    Case Western, Ohio</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-8 col-md-8 card-div-dark">
              <div class="col-xs-12 card1">
                <div class="header">
                  <p>
                    <span class="name">T Suri Babu</span><br>
                    <span class="designation">Executive Vice President</span>
                  </p>
                </div>
                <div id="content1" class="card-content">
                  <div class="col-12">
                    <p class="education">40+ years experience; with PHF since its inception
                    </p>
                    <p class="expertise">PHF’s Knowledge Bank</p>
                    <p class="expertise">EXPERTISE <br>Operations, Quality, Strategy, Finance, <br> Law, Human Resources</p>
                    <p class="expertise">Bachelors of Commerce SV University</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-8 col-md-8 card-div-light">
              <div class="col-xs-12 card1">
                <div class="header">
                  <p>
                    <span class="name">Ramakrishna Reddy</span><br>
                    <span class="designation">Director</span>
                  </p>
                </div>
                <div class="card-content">
                  <div class="col-12">
                    <p class="education">10+ years of experience; onboarded with PHF in 2017
                    </p>
                    <p class="education">Driving Operational Excellence</p>
                    <p class="expertise">EXPERTISE <br> Project Mgt <br> Vendor Mgt <br> Construction Mgt <br> Business Strategy
                    </p>
                    <p class="education">Bachelors in Mechanical Engineering CBIT</p>
                    <p class="education">Masters in Engineering Mgt USC, LA</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
