/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// @import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

html, body { height: 100%; }
body { margin: 0;font-family: 'Didact Gothic', sans-serif; font-size: 12pt;-webkit-font-smoothing: antialiased; letter-spacing: 0.5px}
.navbar{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  z-index: 2000;
}
.navbar-custom{
  background-color: #f2f2f2;
}

.bold{
  font-weight: bold;
}
.bold1{
  color: #666;
  font-weight: bold;
  font-size:60px;
}
.green-text{
  color:#99ba56 !important;
  font-weight: 500;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}
.form-control:focus{
  outline: 0 !important;
  border-color: #f5f9ef;
  box-shadow: 0 0 0 0.1rem #99ba56;
}

.form-control-warning{
  display: block;
width: 100%;
height: calc(1.5em + 0.75rem + 2px);
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #eca60f !important;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-error{
  border: 1px solid #eca60f !important;
}

button:focus,
button:active,
li {
  outline:0;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

//* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .section{
    // padding-top:100px;
    // padding-bottom:0px;
    padding-left: 10px;
    padding-right:10px;
  }

  .content{
    padding-top:0px;
    padding-bottom:50px;
    padding-left:25px;
    padding-right:25px;
  }


}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  .section{
    padding-left: 10px;
    padding-right:10px;
  }
  .content{
    padding-bottom:50px;
    padding-left:25px;
    padding-right:25px;
  }

}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .section{
    padding-left: 10px;
    padding-right:10px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {

}
