/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
.navbar{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: 0.25px solid #99ba56;
  z-index: 2000;
  background-color: white !important;
}

.section{
  padding-top:100px;
  padding-bottom:25px;
  padding-left: 50px;
  padding-right:50px;
}

.title{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: 40px;
  color: #666;
  color:#eca60f;
  font-weight: lighter;
}

.content{
  text-align: left;
  font: 400 15px/1.8 "Open Sans", Verdana, sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  padding-top:0px;
  padding-bottom:25px;
  padding-left:50px;
  padding-right:50px;
}
.bold{
  color: #333;
  font-weight: bold;
}
.bold1{
  color: #666;
  font-weight: bold;
  font-size:60px;
}
.green-text{
  color:green !important;
  font-weight: 500;
}
.img-responsive{
  max-width: 100%;
  height: auto;
}
.form-control:focus{
  outline: 0 !important;
  border-color: #f5f9ef;
  box-shadow: 0 0 0 0.1rem #99ba56;
}
button:focus,
button:active,
li {
  outline:0;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

//* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .section{
    padding-top:100px;
    padding-bottom:0px;
    padding-left: 10px;
    padding-right:10px;
  }

  .content{
    padding-top:0px;
    padding-bottom:50px;
    padding-left:25px;
    padding-right:25px;
  }

}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  .section{
    padding-top:100px;
    padding-bottom:0px;
    padding-left: 10px;
    padding-right:10px;
  }
  .content{
    padding-top:0px;
    padding-bottom:50px;
    padding-left:25px;
    padding-right:25px;
  }
}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .section{
    padding-top:100px;
    padding-bottom:0px;
    padding-left: 10px;
    padding-right:10px;
  }
  .content{
    padding-top:0px;
    padding-bottom:50px;
    padding-left:25px;
    padding-right:25px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
